<!DOCTYPE html>
<html>
  <head>
    <title>BookOfTacos</title>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Didact+Gothic|IBM+Plex+Mono');
    </style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  </head>

  <body>
    <nav>
      <ul>
        <% if !!current_user %>
          <li><a class="profile" href="<%= user_path(current_user) %>">profile</a></li>
        <% else %>
          <li><%= link_to "login", new_user_path %></li>
        <% end %>
        <li class="divider">|</li>
        <li><%= link_to "recipes", recipes_path %></li>
        <li class="divider">|</li>
        <li><%= link_to "write", new_post_path %></li>
      </ul>
        </nav>
    <%= yield %>
  </body>
</html>
