<!DOCTYPE html>
<html>
  <head>
    <title>BookOfTacos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="usersnewstyle.css" />
  </head>
  <body>
    <div class = "flex-container">
      <h1>Create User</h1>

      <%= render "form" %>
    </div>
  </body>
</html>
