
  <body>
    <div class="features">
      <%= link_to "TALKO BOUT SOME TACO", new_post_path, id: 'btn' %>
    </div>

    <div id="user-info">
      <h2 id="user-name">@<%= @user.name %></h2>
      <img src="avatar.png" alt="Avatar" class="avatar">

      <%= button_to 'Logout', logout_path, method: :delete %>

      <% if current_user.id == @user_id %>
      <%= button_to 'Edit this Account', edit_user_path %>
      <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: {confirm: 'Are you sure you want to delete this account?'} %>
      <% end %>
    </div>

    <div id="following">
      <h3>Following:</h3>
      <ul>
        <% if @user.following.length == 0 %>
          Make some friends, loser
        <% else %>
          <% @user.following.each do |followed| %>
            <li class="followed"><%= link_to followed.name, followed  %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div id="followers">
      <h3>Followed by:</h3>
      <ul>
        <% if @user.followers.length == 0 %>
        You have no followers, what a loser
        <% else %>
        <% @user.followers.each do |follower| %>
        <li class="follower"><%= link_to follower.name, follower %></li>
        <% end %>
        <% end %>
      </ul>
    </div>

    <% if (@user != current_user) && !(current_user.following.include? @user) %>
      <%= render "follow_form" %>
    <% elsif @user.followers.include? current_user %>
      <%= render "unfollow_form" %>
    <% end %>




    <div id="posts" class="gallery-cell">
      <h3 class="header">My Posts</h3>
      <% @user.posts.each do |post| %>
      <div class="ui link cards">
        <div class="card">
          <div class="image">
            <img src="/images/avatar2/large/matthew.png">
          </div>
          <div class="content">
            <div class="header"><%= link_to post.title, post %></div>
            <div class="meta">
              <%= link_to Post.last.recipe.title, Post.last.recipe %>
            </div>
            <div class="description">
              <%= link_to post.content[0..50], post %>...
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              <%= Post.last.comments.count %> Comment(s)
            </span>
            <span>
              <i class="user icon"></i>
              <%= Post.last.likes.count %> Likes
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>




      <div id="likes" class="main-carousel js-flickity">
        <h3 class="header">My Likes</h3>
          <% @user.likes.each do |l| %>
          <div class="ui card custom-card carousel-cell">
            <div class="image">
              <img src="/images/avatar2/large/matthew.png">
            </div>
            <div class="content">
              <div class="header">l.post.title</div>
              <div class="meta">
                <%= link_to l.post.recipe.title, l.post.recipe %>
              </div>
              <div class="description">
                <%= post.content[0..50] %>...
              </div>
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              <%= post.comments.count %> Comment(s)
            </span>
            <span>
              <i class="user icon"></i>
              <%= post.likes.count %> Likes
            </span>
        </div>
        <% end %>
      </div>


  </body>
</html>
