<!DOCTYPE html>
<html>
  <head>
    <title>BookOfTacos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="users.css" />
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

  </head>
  <body>

    <div id="header">
      <img src=<%= "/assets/images/headertacos.jpg" %> />
    </div>

    <div class="">

    </div>

    <div id="user-info" align="center">
      <img src="/assets/images/avatar.jpg" alt="Avatar" class="avatar">
      <h2 id="user-name">@<%= @user.name %></h2>

      <%= button_to 'Logout', logout_path, method: :delete %>

      <% if current_user.id == @user_id %>
      <%= button_to 'Edit this Account', edit_user_path %>
      <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: {confirm: 'Are you sure you want to delete this account?'} %>
      <% end %>
    </div>

    <div class="features" align="center" style="margin-top: 30px">
      <%= link_to "TALKO BOUT SOME TACO", new_post_path, id: 'btn' %>
    </div>

    <div id="following" align="center">
      <h3>Following:</h3>
      <div>
        <% if @user.following.length == 0 %>
          Make some friends, loser
        <% else %>
          <% @user.following.each do |followed| %>
            <div class="followed"><%= link_to followed.name, followed  %></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div id="followers" align="center">
      <h3>Followed by:</h3>
      <ul>
        <% if @user.followers.length == 0 %>
        You have no followers, what a loser
        <% else %>
        <% @user.followers.each do |follower| %>
        <li class="follower"><%= link_to follower.name, follower %></li>
        <% end %>
        <% end %>
      </ul>
    </div>

    <div class="follow-button" align="center">
      <% if (@user != current_user) && !(current_user.following.include? @user) %>
      <%= render "follow_form" %>
      <% elsif @user.followers.include? current_user %>
      <%= render "unfollow_form" %>
      <% end %>
    </div>



    <h3>My Posts</h3>
    <div class="gallery js-flickity" data-flickity='{ "cellAlign": "center", "contain": true }'>
      <% @user.posts.each do |post| %>
        <div class="gallery-cell ui card" style="margin-top: 14px; margin-right: 20px;">
          <div class="image">
            <img src="/assets/images/bajafishtacos.jpg">
          </div>
          <div class="content">
            <div class="header"><%= link_to post.title, post %></div>
            <div class="meta">
              <%= link_to Post.last.recipe.title, Post.last.recipe %>
            </div>
            <div class="description">
              <%= link_to post.content[0..50], post %> ...
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              <%= link_to "#{post.comments.count} Comment(s)", post %>
            </span>
            <span>
              <i class="user icon"></i>
              <%= post.likes.count %> Like(s)
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>



    <h3>My Likes</h3>
    <div class="gallery js-flickity" data-flickity='{ "cellAlign": "center", "contain": true }'>
      <% @user.likes.each do |like| %>
        <div class="gallery-cell ui card" style="margin-top: 14px; margin-right: 20px;">
          <div class="image">
            <img src="/assets/images/bajafishtacos.jpg">
          </div>
          <div class="content">
            <div class="header"><%= link_to like.post.title, like.post %></div>
            <div class="meta">
              <%= link_to like.post.title, like.post %>
            </div>
            <div class="description">
              <%= link_to like.post.content[0..50], like.post %> ...
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              <%= link_to "#{like.post.comments.count} Comment(s)", like.post %>
            </span>
            <span>
              <i class="user icon"></i>
              <%= like.post.likes.count %> Like(s)
            </span>
        </div>
        <% end %>
      </div>


  </body>
</html>
