<!DOCTYPE html>
<html>
  <head>
    <title>BookOfTacos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="recipesstyle.css" />
  </head>
  <body>
    <h1>Recipes Index</h1>
    <div id="container">
        <% @recipes.each do |r| %>
          <div class="recipe">
            <p><%= link_to "#{r.title}", recipe_path(r) %></p>
            <img src=<%= "/assets/images/#{r.title.downcase.split.join}.jpg" %> />
            <p><%= r.description %></p>
          </div>
        <% end %>

        <%= form_tag(recipes_path, method: :get) do %>
          <%= select_tag :search, options_for_select(@ingredients.map {|i| [i.name, i.id]}) %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
  </body>
</html>
