<header>
  <div class="container">
    <img class="banner" src="/assets/images/headertacos-muted.jpg"/>
    <div class="tagline">tacos.</div >
  </div>
</header>

<div class="contents" style="margin-left: 215px; margin-right: 215px;">
  <div style="margin: 60px; text-align: left;">
    <div style="font-size: 2em;">take me to taco town!</div>
  </div>

  <div>
    <%= form_tag(recipes_path, method: :get) do %>
    <%= select_tag :search, options_for_select(@ingredients.map {|i| [i.name, i.id]}) %>
    <%= submit_tag "Search by ingredient", class: "ui button" %>
    <% end %>
  </div>

  <div class="grid-container">
    <% @recipes.each do |r| %>
    <a href=<%="/recipes/#{r.id}"%> >
    <div class="ui card" style="margin-top: 14px; margin-bottom: 14px; margin-right: 10px; margin-left: 10px; height: 375px;">
      <div class="image" style="height: 178px; overflow: hidden;">

        <img src=<%="/assets/images/#{r.title.downcase.split.join}.jpg"%>>
      </div>
      <div class="content">
        <a class="header"><%= link_to r.title, r %></a>
        <div class="description">
          <%= r.description[0..150] %> ...
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          <%= r.posts.map { |post| post.likes.count }.reduce(0, :+) %> likes
        </a>
      </div>
    </div>
    </a>
    <% end %>

  </div>


</div>
