<!DOCTYPE html>
<html>
  <head>
    <title>BookOfTacos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="recipeshowstyle.css" />
  </head>
  <body>
    <div id="header">
      <img id="recipe_image" src=<%= "/assets/images/#{@recipe.title.downcase.split.join}.jpg" %> />
      <p><%= @recipe.title %></p>
    </div>
    <%= link_to "TALKO BOUT DIS TACO", new_post_path({id: @recipe.id}) %>

    <%= @recipe.description%>
    <p>Number of Likes:</p>
    <%= @recipe.like_count %>
    <p>Rating:</p>
    <%= @recipe.rating %><br>


    <p>Ingredients</p>
    <ul>
      <% @recipe.ingredients.each do |i| %>
        <li><%= i.name %></li>
        <br/>
      <% end %>
    </ul>

  </body>
</html>
