<!DOCTYPE html>
  <html>
    <head>
      <title>BookOfTacos</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="postsstyle.scss" />
    </head>
    <h1>Browse all posts</h1>
      <!-- <h1>Posts Index</h1> -->
      <!-- <div id="header">
        <img src=<%= "/assets/images/headertacos.jpg" %> />
        <p>TACOSSSSSZZZ</p>
      </div> -->
      <div id="headline">
        <p>POSTS B HERE!</p>
      </div>
      <div id="container">
          <% @posts.each do |p| %>
            <a class="post" href=<%="/posts/#{p.id}"%> >
              <div>
                <img id="posts_index_image" src=<%= p.user.picture %> />
                <!-- <p><%= link_to "#{p.title}", posts_path(p) %></p>
                <p id="content"><%= p.content %></p> -->
                <p id="post_title"><%= p.title %></p>
                <p id="post_content"><%= p.content %></p>
              </div>
            </a>
          <% end %>
      </div>
      <div id="button">
        <%= form_tag(posts_path, method: :get) do %>
          <%= select_tag :search, options_for_select(@users.map {|u| [u.name, u.id]}) %>
          <%= submit_tag "Search" %>
        <% end %>
      </div>
      <br />
    </body>
  </html>
