<h1>Post show page</h1>
<div class="Post Card">

  <div class="post_text">
    <p>Title: <%= @post.title %></p>
    <p>User: <%= @post.user.name %></p>
    <p>Content: <%= @post.content %></p>
  </div>

  <div class="">
    <h4>Comments</h4>
      <ul><% @post.comments.each do |c| %>
        <li><%= link_to c.user.name, user_path(c.user) %> <br> <%= c.content %> </li>
        <% end %>
      </ul>

  </div>
</div>

<!-- if liked?
  then red heart
else
  white heart
end -->
